

html {
    background-image: url("../img/1800h1200-drone-from-top-and-side.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: gray;
}

body {
    color: white;
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: center;
    margin-right: 10%;
    top: 15%;
    position: relative;
    font-size: 3rem;
}

.telegran-link__link {
    background-image: url("../img/Telegram.png");
    position: flex;
    display: inline-block;
    width: 60px !important;
    height: 60px !important;
    background-size: 60px 60px;
    z-index: 10000;
}

.messangers-link {
    position: absolute;
    bottom: 20;
    left: 20;
}

.viber-link__link {
    background-image: url("../img/viber.png");
    background-repeat: no-repeat;
    background-position: center;
    position: flex;
    display: inline-block;
    width: 60px !important;
    height: 60px !important;
    background-size: 56px 56px;
}

