
html {
    background-image: url("../img/1800h1200-drone-from-top-and-side.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: gray;
}

body {
    color: white;
    height: 200%;
}

.header {
    text-align: center;
    margin-right: 10%;
    top: 15%;
    position: relative;
    font-size: 60px;
}

.chat-widget__button--expand {
}

.chat-widget__container .chat-widget__button--expand {
}

.chat-widget__container .chat-widget__button--expand-icon {
    line-height: 56px;
}

.chat-widget__container .chat-widget__button--close {
}
