.chat .chat__content-footer--link {
    margin-top: 3.6rem !important;
}

.chat .chat__content .chat__body {
    top: 52px;
}

.chat .chat__content-footer--link {
    margin-right: auto;
    margin-left: auto;
    display: table;
    margin-top: 0.7rem
}

.company-logo-container {
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: white;
}

.company-logo {
    display: flex;
    width: 80px;
    height: 26.67px;
    background-image: url("../img/Chat_Logo.png") !important;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 13px;
}

.operator_message {
    background-image: url("../img/logo_21vek.png");
    background-size: 40px, 40px !important;
    background-repeat: no-repeat;
    background-position: left top 5px !important;
    justify-content: flex-start;
    display: flex;
}

.client_message .message__content {
    background:#E62E6B;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    box-shadow: none;
    width: 50% !important;
}

.operator_message .message__content {
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border: #D5D7DB 1px solid;
    box-shadow: none;
    margin-left: 45px !important;
    width: 70% !important;
}

.message__content .message__created-date {
    color: #b5bdb3;
}


.message__button {
    border: #E62E6B 1px solid;
    border-radius: 12px;
    margin: 7px !important;
    color: #E62E6B !important;
    background-color: white !important;
    padding: 5px;
}

.message__content .message__created-date {
    color: #fff;
    font-size: 0.75rem;
    font-style: italic;
}

.operator_message .message__content .message__created-date {
    color: black !important;
    font-size: 0.75rem;
    font-style: italic;
}

.choose-file-dialog__container {
    top: 30px;
}

.choose-file-dialog__attach-image {
    content: url("../img/attach.png");
    height: 18px;
    width: 20px;
}

.send-button-icon {
    background: url("../img/send_button.png");
    background-repeat: no-repeat;
}

.send-button {
    bottom: -6px;
}

.mic-button {
    content: url("../img/mic_button.png");
    width: 1.4rem;
    margin-bottom: 13px;
}
