.main {
  width: 725px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 235px;
}
.main__title {
  padding-bottom: 10px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 69px;
  line-height: 81px;
  color: #ffd233;
}
.main__text {
  padding-bottom: 20px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
}
.main__button-selector {
  padding-bottom: 40px;
}
.main__button-language-england {
  position: relative;
  width: 113px;
  height: 40px;

  background: #f3f5f7;
  background-color: #ffd233;
  border-radius: 26px 0px 0px 26px;

  cursor: pointer;
}
.main__button-language-england:before {
  content: url("../image/gb.png");
  position: absolute;
  top: 6px;
  left: 47px;
}
.main__button-language-korea {
  position: relative;
  width: 113px;
  height: 40px;

  margin-left: -5px;
  background: #f3f5f7;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 0px 26px 26px 0px;

  cursor: pointer;
}
.main__button-language-korea:before {
  content: url("../image/kr.png");
  position: absolute;
  top: 6px;
  left: 41px;
}

.main__button-start {
  width: 150px;
  height: 40px;

  background: #ffffff;
  border-radius: 26px;
  border: none;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #6676aa;

  cursor: pointer;
}

.main__img-left {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 109px;
  top: 693px;
}

.main__img-right {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 1350px;
  top: 703px;
}
